<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Login Form</title>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|RobotoDraft:400,100,300,500,700,900'>
<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>

      <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

<div class="pen-title">
  <h1>Login Form</h1>
</div>
<!-- Form Module-->
<div class="module form-module">
  <div class="toggle">

  </div>
  <div class="form">
    <h2>Login to your account</h2>
      <form  action = "/loginB" method="POST">
      <input type="text" name="user_name" id="user_name" placeholder="Username"/>
      <input type="password" name="password" id="pw" placeholder="Password"/>
      <button type ="submit" id="submit-btn">Login</button>
      </form>

  </div>

 
</div>


</body>
</html>
